.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tps-stat{
  left: 50%;
  width: 50%;
  max-width: 300px;
  min-width: 210px;
}

.small{
  font-size:small;
}

.rotated90cw{
  transform: rotate(90deg);
}

.rotated90acw{
  transform: rotate(-90deg);
}

.small-img{
  display: inline;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

footer{
left:10px;
bottom:0;
font-size: small;
position: absolute;
}

.underlined-test{
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    content: "";
    position: absolute;
    display: block;
    width: inherit;
    height: 2px; 
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  to {
    content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(1);
  transition: transform 0.3s ease;
  }
}

ul {
  list-style-type: none;
  float: right;
  margin-right: 5px;
}

.flex-right{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: right;
}

.container{
  background-color: white;
  padding: 10px;
  margin:10px;
  border-radius: 10px;
}

canvas {
  background-color: rgba(47, 152, 208, 0);
}

.provider-icon{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.rounded1{
  margin-right: 5px;
  border-radius: 10px;
}

a{
  color:black;
}
a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #000000; text-decoration: underline}
a:active { color: #000000; text-decoration: none}

.td > provider-icon,
.td > a{
  display: inline-block;
}

.l1{
  font-size: 18px;
}

.b{
  font-weight: 600;
}