.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-img{
  display: inline;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

footer{
left:10px;
bottom:0;
font-size: small;
position: absolute;
}

.inline{
  display: inline-block;
}

.trick{
  display: inline-block;
  text-decoration: underline dotted;
}

.trick:hover span{display: none;}
.trick:hover::before{content: 'Ethereum';}

.ul-hover:hover{
  text-decoration: underline;
}



.jumpy {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-top: 30px;
}

.unselectable{
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

.jumpy:hover {
    animation: text-shadow 1s ease-in-out;
    cursor: default;
}

.jumpy {
    color: #0f71b3;
}

.jumpy:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    50% {  
        transform: translateY(-0.5em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

.modeSwitchToggle{
  position: absolute;
  right: 0px;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.trick2{
  display: inline-block;
  text-decoration: underline dotted;
}

.trick2:hover span{display: none;}
.trick2:hover::before{content: 'Ethereum, including L2s and sidechains';}