[Unit]
Description=ETHTPS service 1
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=lmvm2
WorkingDirectory=/home/lmvm2/Desktop/ethtps/ETHTPS/ETHTPS.API/ETHTPS.API/bin/Release/net5.0/
ExecStart=/usr/bin/dotnet ETHTPS.API.dll --urls=http://*:50030

[Install]
WantedBy=multi-user.target