.showChainCheckbox {
    padding: 10px;
    display: inline-table;
}

.showChainCheckboxContainer {
    display: inline-flex;
}

.intervalList {
    display: flex; 
    justify-content: flex-end;
    padding: 5px;
    
       
}
.intervalChip {
    padding: 5px;
       
}

table {
    width: 100%;
}