@import '../styling/theme.scss';



.showChainCheckbox {
    padding: 10px;
    display: inline-table;
}

.mat-header-cell {
    font-size: 20px;
    font-style: bold;
}

.showChainCheckboxContainer {
    display: inline-flex;
}

.intervalList {
    display: flex; 
    justify-content: flex-end;
    padding: 5px;       
    margin-right: 5%;
}

.plot-options {
    display: flex;
    justify-content:  space-between;
    margin: 10px;
}

.mat-button-toggle-checked {
    background-color: mat-color($app-accent);
    color: mat-color($app-accent, default-contrast);
}

.intervalChip {
    padding: 5px;
}

app-selection-table {
    width: 100%;
}

mat-progress-spinner {
    margin: auto;
    top: 40%;
}

.progressSpinnerContainer {
    height: 450px;
}

.chart-parent {
    width: 100%;
}







