
<div class="plot-options">
    <!-- Buttons for selecting yaxis type: linear | log -->
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="yAxisType" (change)="yAxisTypeChanged()">
        <mat-button-toggle value="Logarithmic" color="accent"> LOG </mat-button-toggle>
        <mat-button-toggle value="Linear" color="accent"> LIN </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Chips for selecting interval -->
    <mat-chip-list aria-label="Interval selection" selectable class="intervalList">
        <mat-chip *ngFor="let interval of intervals$ | async" #c="matChip" color="accent" class="intervalChip"
            [value]="interval" (click)="toggleIntervalSelection(c)">{{toHumanReadable(interval)}}</mat-chip>
    </mat-chip-list>
</div>

<!-- Chart and progress indicator while the data is loading -->
<div *ngIf="!isTxDataAcquired" class="progressSpinnerContainer">
    <mat-progress-spinner color="accent" mode="indeterminate"> </mat-progress-spinner>
</div>
<div class="chart-parent">
    <plotly-plot *ngIf="isTxDataAcquired" [data]="graph.data" [layout]="graph.layout" [useResizeHandler]="true">
    </plotly-plot>
</div>

<app-selection-table [selectionDisabled]="!isTxDataAcquired" (selectionChanged)="handleSelectionChange($event)">
</app-selection-table>