<script src="~/js/gauge.min.js"></script>

<script>
    $(window).on('load', function () {
        var opts = {
            angle: -0.2, // The span of the gauge arc
            lineWidth: 0.2, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.6, // // Relative to gauge radius
                strokeWidth: 0, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6F6EA0',   // Colors
            colorStop: '#C0C0DB',    // just experiment with them
            strokeColor: '#EEEEEE',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support
            staticZones: [
                { strokeStyle: "rgb(255,0,0)", min: 0, max: 500, height: 1 },
                { strokeStyle: "rgb(200,100,0)", min: 500, max: 1000, height: 1 },
                { strokeStyle: "rgb(150,150,0)", min: 1000, max: 1500, height: 1 },
                { strokeStyle: "rgb(100,200,0)", min: 1500, max: 2000, height: 1 },
                { strokeStyle: "rgb(0,255,0)", min: 2000, max: 3100, height: 1 }
            ],
        };
        var target = document.getElementById('gauge'); // your canvas element
        var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 3000; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 30; // set animation speed (32 is default value)
        gauge.set(1350); // set actual value
    });

    function updateGauge(data) {
        gauge.maxValue = data.maxValue;
    }
</script>

<div class="container">
    <canvas id="gauge"></canvas>
</div>