<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="ownFile-web" fileName="logs/nlog-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>
	<target xsi:type="Database"
          name="String"
          dbProvider="String"
          connectionString="Layout"
          connectionStringName="String"
          keepConnection="Boolean"
          isolationLevel="System.Data.IsolationLevel"
          dbDatabase="Layout"
          dbUserName="Layout"
          dbPassword="Layout"
          dbHost="Layout"
          commandType="Enum"
          commandText="Layout"
          installConnectionString="Layout">
		<install-command commandType="Enum"
						 connectionString="Layout"
						 ignoreFailures="Boolean"
						 text="Layout"/>
		<!-- repeated -->
		<uninstall-command commandType="Enum"
						   connectionString="Layout"
						   ignoreFailures="Boolean"
						   text="Layout"/>
		<!-- repeated -->
		<parameter name="String"
				  layout="Layout"
				  precision="Byte"
				  scale="Byte"
				  size="Integer"
				  dbType="DbType"
				  allowDbNull="Boolean"
				  format="string"
				  parameterType="Type" />
		<!-- repeated -->
	</target>
	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Warning" writeTo="ownFile-web" />
	</rules>
</nlog>