.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-img{
  display: inline;
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.small-img:hover{
  cursor: pointer;
}

.top-right{
  float:right
}

footer{
margin-top: 20px;
margin-left:10px;
bottom:0;
overflow: hidden;
font-size: small;
}

.inline{
  display: inline-block;
}

.trick{
  display: inline-block;
  text-decoration: underline dotted;
}

.trick:hover span{display: none;}
.trick:hover::before { 
  content: 'Ethereum';
}

.ul-hover:hover{
  text-decoration: underline;
}

.red{
  color: red;
}

.orange{
  color: rgb(167, 125, 74);
}

.jumpy {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-top: 30px;
}

.unselectable{
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

.jumpy:hover {
    animation: text-shadow 1s ease-in-out;
    cursor: default;
}

.jumpy {
    color: #0f71b3;
}

.jumpy:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    50% {  
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

.modeSwitchToggle{
  position: absolute;
  right: 0px;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

hr{
  border: 1px dotted black;
}

.container{
  width: 95%;
  margin: auto;
  max-width: 900px;
}

h3 {
  text-decoration: underline dotted;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: -100%;
  margin-top: 1.5rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.l1{
  font-size: 16px;
}

.lh{
  font-size: 16px;
}

.invisible{
  position: absolute;
  right:0;
  font-size: 0;
  color: transparent;
  float: right;
}

.b{
  font-weight: 600;
}

.provider-icon{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


a{
  color:black;
}
a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #000000; text-decoration: underline}
a:active { color: #000000; text-decoration: none}

.green{
  color:green;
}

img{
  vertical-align: middle;
}
 
.box {
  display: flex;
  align-items:center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 12;
  text-transform: uppercase;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(255, 100%, 100%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.bottomnavbar{
  font-size: small;
  display: inline-block;
  margin-left: 10px;
}


.arrow_box {
  background: white;
}