.animated-cell {
	animation: text-shadow 0.5s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes text-shadow {
	0% {
		text-shadow: 0 0 0 #6b7ee4, 0 0 0 #022c2c, 0 0 0 #f0a3ac, 0 0 0 #3b3b0d;
	}

	50% {
		text-shadow: 0 0.25em 0 #8797f1, 0 0.25em 0 #064949, 0 -0.25em 0 #fda1ac,
			0 -0.25em 0 #504f0f;
	}

	100% {
		text-shadow: 0 0 0 #c0c7f3, 0 0 0 #0f3d3d, 0 0 0 #fb203b, 0 0 0 #fffed6;
	}
}
