.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  height: 100%;
  padding: 70px 0;
/*  border: 3px solid green; */
  text-align: center;
}

.rotate45:hover {
  animation: r45 0.1s;
}

@keyframes r45 {
  0% {
    transform: rotateZ(0)
  }

  100% {
    transform: rotateZ(45deg)
  }
}

.fade-in-white{
  animation: fade-in-w 1s forwards;
}

@keyframes fade-in-w{
  0%{
    fill: black;
  }
  100%{
    fill:white;
  }
}

.appear {
  animation: appear 1s forwards;
}

.disappear {
  animation: disappear 3s 5s forwards;
}

@keyframes disappear {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes appear-d{
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.parent {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.child {
  flex-shrink: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}