body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small-img {
  display: inline;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 10px;
}

.tiny-img {
  display: inline;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.tiny-img:hover {
   cursor: pointer;
 }
.small-img:hover  {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.trick {
  display: inline-block;
  text-decoration: underline dotted;
}

.trick:hover span {
  display: none;
}

.trick:hover::before {
  content: 'Ethereum';
}

.ul-hover:hover {
  text-decoration: underline;
}

.red {
  color: red;
}

.pointable{
  cursor: pointer;
}

.orange {
  color: rgb(167, 125, 74);
}

.jumpy {color: #0f71b3;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumpy:hover {
  animation: text-shadow 2s infinite ease-in-out;
  cursor: pointer;text-decoration: none;
}

@keyframes text-shadow {
  0% {
    text-shadow:
      0 0 0 #0c2ffb,
      0 0 0 #2cfcfd,
      0 0 0 #fb203b,
      0 0 0 #fefc4b;
  }

  50% {
    text-shadow:
      0 0.006em 0 #0c2ffb,
      0 0.25em 0 #2cfcfd,
      0 -0.006em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  100% {
    text-shadow:
    0 0 0 #0c2ffb,
    0 0 0 #2cfcfd,
    0 0 0 #fb203b,
    0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.modeSwitchToggle {
  position: absolute;
  right: 0px;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

hr {
  border: 1px dotted black;
}

.container {
  width: 95%;
  margin: auto;
  max-width: 900px;
}

h3 {
  text-decoration: underline dotted;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: -100%;
  margin-top: 1.5rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.l1 {
  font-size: 16px;
}

.lh {
  font-size: 16px;
}

.invisible {
  position: absolute;
  right: 0;
  font-size: 0;
  color: transparent;
  float: right;
}

.b {
  font-weight: 600;
}

.provider-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


a {
  color: black;
}

a:link {
  color: #000000;
  text-decoration: none
}

a:visited {
  color: #000000;
  text-decoration: none
}

a:hover {
  color: #000000;
  text-decoration: underline
}

a:active {
  color: #000000;
  text-decoration: none
}

.green {
  color: green;
}

img {
  vertical-align: middle;
}

.flexbox{
  display: flex;
}

.w-hundred{
  width: 100%;
}

.w-auto {
  width: auto;
}

.spaced-vertically{
  margin-top: 2%;
  margin-bottom: 2%;
}

.spaced-horizontally {
  margin-left: 2%;
  margin-right: 2%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal{
  flex-direction: row;
}

.flex-vertical{
  flex-direction: column;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 12;
  text-transform: uppercase;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg,
      hsl(224, 85%, 66%),
      hsl(255, 100%, 100%),
      hsl(179, 85%, 66%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.bottomnavbar {
  font-size: small;
  display: inline-block;
  margin-left: 10px;
}


.arrow_box {
  background: white;
}

.floating{
  position:absolute
}