/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

header {
    float: right;
}

footer {
    cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.focus circle {
    fill: black;
    stroke: white;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.canvas-con {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 365px;
    position: relative;
}

.canvas-con-inner {
    height: 100%;
}

.canvas-con-inner, .legend-con {
    display: inline-block;
}

.legend-con {
    font-family: Roboto;
    display: inline-block;
}

.span.chart-legend {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.underlined {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

    .underlined:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 10s ease 0s, left 10s ease 0s;
        width: 0;
    }

    .underlined:hover:after {
        width: 100%;
        left: 0;
    }

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
